.navbar{
    display: flex;
    justify-content: space-between;
    /* padding: 1px; */
    height: 55px;
}
.nav-logo{
    
    display:flex;
    align-items: center;
    gap:10px;
}
.nav-logo p{
    color:#171717;
    font-size:20px;
    font-family: auto;
    font-weight:300;
}
.nav-menu{
   display: flex;
    align-items: center;
    list-style: none;
    gap:50px;
    color:#626262;
    font-size:20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: auto;
    margin-right: 81px;
}
.nav-menu li :hover{
    text-decoration: underline;
    color:#417dff;
}
.nav-menu hr{
    border:none;
    width:80%;
    height:3px;
    border-radius: 10px;
    background: #417dff;
}
.nav-login-cart{
  display:flex;
  align-items: center;  
  gap:45px;
 
}
.nav-login-cart button{
    width:150px;
    height:50px;
    outline:none;
    border:1px solid #7a7a7a;
    border-radius: 75px;
    color:#515151;
    font-size: 20px;
    font-weight: 350;
    background: #E0F4FF;
    cursor:pointer;
}
.nav-login-cart button:active{
background-color: #f3f3f3;
}
.nav-cart-count{
    width:22px;
    height:22px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: rgb(63, 56, 56);
    color:white;
    
}
.nav-logo img{
    width:40px;
    margin-left: 15px;
}